.fmain{
    display: flex;
    margin-left: 200px;
}
.fmrows{
    display: flex;
}
#fmrow{
    height: 100px;
    width: 180px;
    margin-inline: 30px;
    font-size: 14px;
}
#fheadmain{
    font-size: 38px;
    color: white;
    font-weight: 400;
    margin-left: 30px;
}
#fheadmain1{
    font-size: 38px;
    color: white;
    font-weight: 400;
    margin-left: 30px;
    margin-top: -0px;
}
.fclients{
    font-weight: 600;
    color: white;
    margin-left: 200px;
}
.future{
    margin-block: 20%;
}