@font-face {
    font-family: 'Mocnetla';
    src: url('/src/Fonts/Mocnetla.otf');
}
@font-face {
    font-family: 'Callisten';
    src: url('./Fonts/Callisten.ttf');
}
@font-face {
    font-family: 'Delicate calligraphy';
    src: url('./Fonts/Delicate\ Caligraphy\ Demo.ttf');
}
@font-face {
    font-family: 'Bethany Elingston';
    src: url('./Fonts/Bethany\ Elingston.otf');
}
@font-face {
    font-family: 'taller rev';
    src: url('./Fonts/taller_evolution_rev.otf');
}
@font-face {
    font-family: 'rusila';
    src: url('./Fonts/Rusillaserif-Light.ttf');
}
@font-face {
    font-family: 'editors note';
    src: url('./Fonts/EditorsNote-Extralight-iF664322be43be3.otf');
}
@font-face {
    font-family: 'sohne';
    src: url('./Fonts/TestSohne-Buch-BF663d89cd32e6a.otf');
}
::-webkit-scrollbar{
    display: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
